fastapi
uvicorn[standard]
requests
pydantic
pydantic-settings
sqlalchemy
asyncpg
qdrant-client
python-multipart
alembic
email-validator
celery
redis
pillow
docling
docling-core
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-ollama
qdrant-client